/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body {
    width: 800px;
    margin: auto;
    background-color: #FFFFFF;
    border: 2px dotted black;
}

header {
    width: 100%;
    border: 2px dotted black;
}

.logo {
    position: fixed;
    height: 100%;
}

.menu {
    position: fixed;
    width: 100%;
    margin-left: 200px;
    color: black;
    border: 2px dotted black;
}

header nav ul li {
    position: flex;
    flex-direction: row;
    float: right;
    color: #FFFFFF;
    list-style: none;
    border: 2px dotted black;
}

figure img {
    margin-top: 200px;
    width: 100%;
    border: 2px dotted black;
}

figure div {
    /* Music for everyone */
}
